@charset "euc-kr";

/* 이웃닷컴(http://e-wut.com) 
웹 퍼블리싱
작업자:이승희(lulubong@e-wut.com)
*/ 
* {margin:0; padding:0;}


body {
	width:100%;
	
	}
/*시흥교육청 개인정보보호방침*/

#contentList {
	display:inline;
	position:relative;
	float:left;
	width:610px;
	margin-left:21px;
	margin-top:px;
	padding-bottom:44px;
	}
	#contentList .objTop {
		position:absolute;
		float:left;
		width:610px;
		top:-20px;
		left:20px;
		z-index:1;
		background:#fff;
		}
		#contentList .objTop .titImg {
			float:left;
			}
		#contentList .objTop p {
			display:inline;
			float:right;
			margin-right:5px;
			margin-top:14px;
			color:#666;
			}
	#contentList .objContent {
		display:inline;
		overflow:hidden;
		float:left;
		width:580px;
		margin:0 10px 0 10px;
		padding:20px 0 0 5px;
		color:#666;
		border-top:#c3c3c3 1px solid;
		}
		#contentList .objContent .list .depth1_1 {
			float:left;
			margin-right:140px;
			margin-bottom:15px;
			}
		#contentList .objContent .list .depth1_1 .title {
			display:block;
			margin-bottom:20px;
			font-weight:bold;
			color:#2480d2;
			}
		#contentList .objContent .list .depth1_1 a:hover {
			text-decoration:underline;
			}
			#contentList .objContent .list .depth2 {
				margin-top:10px;
				margin-left:10px;
				padding-left:20px;
				}
				#contentList .objContent .list .depth2 li {
					clear:both;
					margin-bottom:10px;
					list-style:decimal;
					}
				#contentList .objContent .list .depth2 li a {
					color:#666;
					font-weight:normal;
					}
		#contentList .objContent .content {
			float:left;
			width:100%;
			margin-top:20px;
			border-top:#e9e9e9 1px solid;
			line-height:190%;
			}
			#contentList .objContent h5, #contentList .objContent h6 {
				display:block;
				margin-bottom:5px;
				font-size:12px;
				}
			#contentList .objContent h5 {
				margin-top:50px;
				text-align:center;
				}
			#contentList .objContent h6 {
				margin-top:30px;
				}
			#contentList .objContent .content ol li {
				margin-left:35px;
				}
				#contentList .objContent .content img {
					margin-left:20px;
					}
				#contentList .objContent .content ol ol {
					padding:10px 30px 0 5px;
					margin:10px 0;
					color:#666;
					}
					#contentList .objContent .content ol ol ol {
						padding:0;
						background:none;
						border:0;
						}
				.depth1List li {
					list-style:lower-roman;
					}
				.depth2List li {
					list-style:square;
					}	
				.depth3List li {
					list-style:disc;
					}	
				#contentList .objContent .content ul li {
					list-style:circle;
					}
				#contentList .objContent .content div {
					padding:0 10px;
					background:#f4f7ed;
					}
				#contentList .objContent .content p {
					margin-top:10px;
					}
				#contentList .objContent .content table {
					width:100%;
					margin:15px 0;
					border-left:#c3c3c3 1px solid;
					border-top:#c3c3c3 1px solid;
					border-bottom:#c3c3c3 1px solid;
					text-align:center;
					}
				#contentList .content table td, #contentList .content table th {
					border-right:#c3c3c3 1px solid;
					padding:0 3px;
					}
				#contentList .content table th {
					background:#f0eedf;
					}
				#contentList .objContent .tableWidth {
					width:110px;
					}
					#contentList .objContent .contact_info {
						padding:0 10px;
						background:#f4f7ed;
						}
					#contentList .objContent .title {
						font-weight:bold;
						}
				#contentList .objContent .tableWidth2 {
					width:75px;
					}
				/*top버튼*/
				#contentList .objContent .topBtn {
					float:right;
					margin-right:0;
					margin-top:10px;
					}
				.content h3 {
					visibility:visible;
					position:static;
					width:610px;
					height:auto;
					padding:7px 0;
					color:#858585;
					font-size:1.4em;
					font-weight:bold;
					line-height:100%;
					}
				.content h4 {
					visibility:visible;
					position:static;
					width:600px;
					height:auto;
					padding:7px 0;
					color:#858585;
					font-size:1.2em;
					font-weight:bold;
					line-height:100%;
					}


			